<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">
<head th:replace="~{admin/common/include :: head}"></head>
<body>
    <header th:replace="~{admin/common/include :: header_admin}"></header>
    <main>
        <form th:object="${userCreateUpdateDto}" th:action="${requestURI}" method="post">
            <div th:if="${formMode eq 'UPDATE'}">
                <input type="hidden" th:field="*{id}">
            </div>
            <div>
                <label>
                    <span>아이디</span>
                    <input th:field="*{username}">
                </label>
                <div th:errors="*{username}"></div>
            </div>
            <div th:if="${formMode eq 'INSERT'}">
                <label>
                    <span>비밀번호</span>
                    <input type="password" th:field="*{password}">
                    <div th:errors="*{password}"></div>
                </label>
            </div>
            <div th:if="${formMode eq 'INSERT'}">
                <label>
                    <span>비밀번호 확인</span>
                    <input type="password" th:field="*{passwordCheck}">
                </label>
            </div>
            <div th:if="${formMode eq 'UPDATE'}">
                <label>
                    <span>비밀번호 변경</span>
                    <button type="button" th:onclick="|location.href='@{/sogi/admin/user/update/password/{id}(id=${id})}'|">비밀번호 변경하기</button>
                </label>
            </div>
            <div>
                <label>
                    <span>이름</span>
                    <label>
                        <span>성</span>
                        <input th:field="*{lastname}">
                        <div th:errors="*{lastname}"></div>
                    </label>
                    <label>
                        <span>이름</span>
                        <input th:field="*{firstname}">
                        <div th:errors="*{firstname}"></div>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <span>이메일</span>
                    <input th:field="*{email}">
                    <div th:errors="*{email}"></div>
                </label>
            </div>
            <div>
                <label>
                    <span>이메일 수신 동의</span>
                    <input type="checkbox" th:field="*{isMailing}">
                </label>
            </div>
            <div>
                <label>
                    <span>휴대폰 번호</span>
                    <input th:field="*{phoneNumberFront}">
                    <div th:errors="*{phoneNumberFront}"></div>
                    <input th:field="*{phoneNumberMiddle}">
                    <div th:errors="*{phoneNumberMiddle}"></div>
                    <input th:field="*{phoneNumberLast}">
                    <div th:errors="*{phoneNumberLast}"></div>
                </label>
            </div>
            <div>
                <label>
                    <span>성별</span>
                    <select id="gender" name="gender">
                        <option value="">성별</option>
                        <option value="M" th:selected="${userCreateUpdateDto.gender eq 'M'}">남성</option>
                        <option value="F" th:selected="${userCreateUpdateDto.gender eq 'F'}">여성</option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <span>생년월일</span>
                    <select id="birthdayYear" name="birthdayYear">
                        <option value="">출생년도</option>
                        <th:block th:each="year : ${#numbers.sequence(1900, 2022)}">
                            <option th:value="${year}" th:text="${year}" th:selected="${userCreateUpdateDto.birthdayYear} == ${year}"></option>
                        </th:block>
                        <div th:errors="*{birthdayYear}"></div>
                    </select>
                    <select id="birthdayMonth" name="birthdayMonth">
                        <option value="">월</option>
                        <th:block th:each="month : ${#numbers.sequence(1, 12)}">
                            <option th:value="${month}" th:text="${month}"  th:selected="${userCreateUpdateDto.birthdayMonth} == ${month}"></option>
                        </th:block>
                        <div th:errors="*{birthdayMonth}"></div>
                    </select>
                    <select id="birthdayDay" name="birthdayDay">
                        <option value="">일</option>
                        <th:block th:each="day : ${#numbers.sequence(1, 31)}">
                            <option th:value="${day}" th:text="${day}"  th:selected="${userCreateUpdateDto.birthdayDay} == ${day}"></option>
                        </th:block>
                        <div th:errors="*{birthdayDay}"></div>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <span>양력</span>
                    <input type="checkbox" th:field="*{isBirthdaySolar}">
                </label>
            </div>
            <div>
                <label>
                    <span>주소</span>
                    <div>
                        <input type="text" th:field="*{zipCode}" placeholder="우편번호">
                        <div th:errors="*{zipCode}"></div>
                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" th:field="*{roadNameAddress}" placeholder="도로명주소">
                        <div th:errors="*{roadNameAddress}"></div>
                        <input type="text" th:field="*{lotNumberAddress}" placeholder="지번주소">
                        <div th:errors="*{lotNumberAddress}"></div>
                        <input type="text" th:field="*{detailAddress}" placeholder="상세주소">
                        <div th:errors="*{detailAddress}"></div>
                        <input type="hidden" th:field="*{extraAddress}" placeholder="참고항목">

                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                            //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                            function execDaumPostcode() {
                                new daum.Postcode({
                                    oncomplete: function(data) {
                                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                                        var extraRoadAddr = ''; // 참고 항목 변수

                                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                            extraRoadAddr += data.bname;
                                        }

                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if(data.buildingName !== '' && data.apartment === 'Y'){
                                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }

                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if(extraRoadAddr !== ''){
                                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                                        }

                                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                        document.getElementById('zipCode').value = data.zonecode;
                                        document.getElementById("roadNameAddress").value = roadAddr;
                                        document.getElementById("lotNumberAddress").value = data.jibunAddress;

                                        // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                        if(roadAddr !== ''){
                                            document.getElementById("extraAddress").value = extraRoadAddr;
                                        } else {
                                            document.getElementById("extraAddress").value = '';
                                        }

                                        /*var guideTextBox = document.getElementById("guide");
                                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                        if(data.autoRoadAddress) {
                                            console.log(2)
                                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                            guideTextBox.style.display = 'block';
                                            console.log(3)

                                        } else if(data.autoJibunAddress) {
                                            console.log(4)
                                            var expJibunAddr = data.autoJibunAddress;
                                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                            guideTextBox.style.display = 'block';
                                        } else {
                                            guideTextBox.innerHTML = '';
                                            guideTextBox.style.display = 'none';
                                        }*/
                                    }
                                }).open();
                            }
                        </script>
                    </div>
                </label>
            </div>
            <button th:if="${formMode eq 'INSERT'}" type="submit">회원가입</button>
            <button th:if="${formMode eq 'UPDATE'}" type="submit">회원정보 변경</button>
            <button type="button" onclick="history.back()">뒤로가기</button>
        </form>
    </main>
</body>
</html>