<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">

    <head th:replace="~{admin/common/head :: head}"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <main id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="~{admin/common/left :: left}"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="~{admin/common/topbar :: topbar}"></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-xl px-4 mt-4">
                        <form
                            th:object="${userCreateUpdateDto}"
                            th:action="${requestURI}"
                            method="post"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-4">
                                    <!-- Profile picture card-->
                                    <div class="card mb-4 mb-xl-0">
                                        <div class="card-header">Profile Picture</div>
                                        <div class="card-body text-center">
                                            <!-- Profile picture image-->
                                            <img th:if="${file == null}"
                                                 class="img-account-profile rounded-circle mb-2"
                                                 src="/img/undraw_profile.svg">
                                            <img th:if="${file != null}"
                                                 width="305.99px;" height="305.99px;"
                                                class="img-account-profile rounded-circle mb-2"
                                                th:src="@{/image?filePath={filePath}(filePath=${file.filePath})}">
                                            <!-- Profile picture help block-->
                                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                            <!-- Profile picture upload button-->
                                            <input class="btn btn-primary" type="file" th:field="*{profilePicture}">
                                            <div class="error_message" th:errors="*{profilePicture}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <!-- Account details card-->
                                    <div class="card mb-4">
                                        <div class="card-header">Account Details</div>
                                        <div class="card-body">
                                            <div th:if="${formMode eq 'UPDATE'}">
                                                <input type="hidden" th:field="*{id}">
                                            </div>
                                            <!-- Form Group (ID)-->
                                            <div class="mb-3">
                                                <div th:if="${formMode eq 'INSERT'}">
                                                    <label class="small mb-1">ID</label>
                                                    <input
                                                            type="text"
                                                            th:field="*{username}"
                                                            class="form-control"
                                                            placeholder="아이디를 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{username}"></div>
                                                </div>
                                                <div th:if="${formMode eq 'UPDATE'}">
                                                    <label class="small mb-1">ID</label>
                                                    <input
                                                            type="hidden"
                                                            th:field="*{username}">
                                                    <input
                                                            type="text"
                                                            disabled
                                                            th:field="*{username}"
                                                            class="form-control"
                                                            placeholder="아이디를 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{username}"></div>
                                                </div>
                                            </div>
                                            <div th:if="${formMode eq 'INSERT'}">
                                                <!-- Form Group (password)-->
                                                <div class="mb-3">
                                                    <label class="small mb-1">비밀번호</label>
                                                    <input
                                                            type="password"
                                                            th:field="*{password}"
                                                            class="form-control"
                                                            placeholder="비밀번호를 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{password}"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="small mb-1">비밀번호 확인</label>
                                                    <input
                                                        type="password"
                                                        th:field="*{passwordCheck}"
                                                        class="form-control"
                                                        placeholder="비밀번호를 한번 더 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{password}"></div>
                                                </div>
                                            </div>
                                            <!-- Form Group (password change)-->
                                            <div th:if="${formMode eq 'UPDATE'}">
                                                <div class="mb-3">
                                                    <button
                                                        type="button"
                                                        class="btn btn-primary"
                                                        th:onclick="|location.href='@{/sogi/admin/user/update/password/{id}(id=${id})}'|">비밀번호 변경하기</button>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (first name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1">성</label>
                                                    <input
                                                        th:field="*{lastname}"
                                                        class="form-control"
                                                        type="text"
                                                        placeholder="성을 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{lastname}"></div>
                                                </div>
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1">이름</label>
                                                    <input
                                                        th:field="*{firstname}"
                                                        class="form-control"
                                                        type="text"
                                                        placeholder="이름을 입력해주세요."/>
                                                    <div class="error_message" th:errors="*{firstname}"></div>
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-3">
                                                <label class="small mb-1">이메일</label>
                                                <input
                                                    th:field="*{email}"
                                                    class="form-control"
                                                    type="email"
                                                    placeholder="이메일 주소를 입력해주세요."/>
                                                <div class="error_message" th:errors="*{email}"></div>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" th:field="*{isMailing}">
                                                        <span>이메일 수신 동의</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (phone 1st)-->
                                                <div class="col-md-4">
                                                    <label class="small mb-1">휴대폰 번호 (앞자리)</label>
                                                    <span>
                                                        <input
                                                            th:field="*{phoneNumberFront}"
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="000"/>
                                                    </span>
                                                    <div class="error_message" th:errors="*{phoneNumberFront}"></div>
                                                </div>
                                                <!-- Form Group (phone 2nd)-->
                                                <div class="col-md-4">
                                                    <label class="small mb-1">(중간자리)</label>
                                                    <input
                                                        th:field="*{phoneNumberMiddle}"
                                                        class="form-control"
                                                        type="text"
                                                        placeholder="0000"/>
                                                    <div class="error_message" th:errors="*{phoneNumberMiddle}"></div>
                                                </div>
                                                <!-- Form Group (phone 3rd)-->
                                                <div class="col-md-4">
                                                    <label class="small mb-1">(뒷자리)</label>
                                                    <input
                                                        th:field="*{phoneNumberLast}"
                                                        class="form-control"
                                                        type="text"
                                                        placeholder="0000"/>
                                                    <div class="error_message" th:errors="*{phoneNumberLast}"></div>
                                                </div>
                                            </div>
                                            <!-- Form Group (gender)-->
                                            <div class="mb-3">
                                                <label class="small mb-1">성별</label>
                                                <select
                                                    id="gender"
                                                    name="gender"
                                                    class="form-select"
                                                    aria-label="Default select example">
                                                    <option selected="selected" disabled="disabled" value="">성별</option>
                                                    <option value="M" th:selected="${userCreateUpdateDto.gender eq 'M'}">남성</option>
                                                    <option value="F" th:selected="${userCreateUpdateDto.gender eq 'F'}">여성</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label>
                                                    <span>생년월일</span>
                                                    <select id="birthdayYear" name="birthdayYear">
                                                        <option value="">출생년도</option>
                                                        <th:block th:each="year : ${#numbers.sequence(1900, 2022)}">
                                                            <option
                                                                th:value="${year}"
                                                                th:text="${year}"
                                                                th:selected="${userCreateUpdateDto.birthdayYear} == ${year}"></option>
                                                        </th:block>
                                                        <div class="error_message" th:errors="*{birthdayYear}"></div>
                                                    </select>
                                                    <select id="birthdayMonth" name="birthdayMonth">
                                                        <option value="">월</option>
                                                        <th:block th:each="month : ${#numbers.sequence(1, 12)}">
                                                            <option
                                                                th:value="${month}"
                                                                th:text="${month}"
                                                                th:selected="${userCreateUpdateDto.birthdayMonth} == ${month}"></option>
                                                        </th:block>
                                                        <div class="error_message" th:errors="*{birthdayMonth}"></div>
                                                    </select>
                                                    <select id="birthdayDay" name="birthdayDay">
                                                        <option value="">일</option>
                                                        <th:block th:each="day : ${#numbers.sequence(1, 31)}">
                                                            <option
                                                                th:value="${day}"
                                                                th:text="${day}"
                                                                th:selected="${userCreateUpdateDto.birthdayDay} == ${day}"></option>
                                                        </th:block>
                                                        <div class="error_message" th:errors="*{birthdayDay}"></div>
                                                    </select>
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <input type="checkbox" th:field="*{isBirthdaySolar}">
                                                    <span>양력여부 (양력이면 체크 바랍니다)</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <span>주소</span>
                                                    <div>
                                                        <input type="text" th:field="*{zipCode}" placeholder="우편번호">
                                                        <div class="error_message" th:errors="*{zipCode}"></div>
                                                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                                                        <input type="text" th:field="*{roadNameAddress}" placeholder="도로명주소">
                                                        <div class="error_message" th:errors="*{roadNameAddress}"></div>
                                                        <input type="text" th:field="*{lotNumberAddress}" placeholder="지번주소">
                                                        <div class="error_message" th:errors="*{lotNumberAddress}"></div>
                                                        <input type="text" th:field="*{detailAddress}" placeholder="상세주소">
                                                        <div class="error_message" th:errors="*{detailAddress}"></div>
                                                        <input type="hidden" th:field="*{extraAddress}" placeholder="참고항목">
                                                    </div>
                                                </label>
                                            </div>
                                            <!-- Form Group (role)-->
                                            <div class="mb-3">
                                                <label class="small mb-1">역할</label>
                                                <select id="roleName" name="roleName" class="form-select" aria-label="Default select example">
                                                    <option value="">역할</option>
                                                    <th:block th:each="role : ${roles}">
                                                        <option th:value="${role.roleName}" th:text="${role.roleName}" th:selected="${userCreateUpdateDto.roleName eq role.roleName}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div th:if="${formMode eq 'UPDATE'}">
                                                <div>
                                                    <label>
                                                        <input type="checkbox" th:field="*{isActive}">
                                                        <span>활성화된 회원입니다.</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" th:field="*{isDeleted}">
                                                        <span>탈퇴 처리된 회원입니다.</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" th:if="${formMode eq 'INSERT'}" type="submit">회원가입</button>
                                            <button class="btn btn-primary" th:if="${formMode eq 'UPDATE'}" type="submit">회원정보 변경</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{admin/common/footer :: footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </main>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="~{admin/common/include :: scroll_to_top_botton}"></a>

        <!-- Logout Modal-->
        <div th:replace="~{admin/common/include :: logout_modal}"></div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->

        <!-- Page level custom scripts -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
            function execDaumPostcode() {
                new daum
                    .Postcode({
                        oncomplete: function (data) {
                            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분. 도로명 주소의 노출 규칙에 따라 주소를 표시한다. 내려오는 변수가 값이
                            // 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                            var roadAddr = data.roadAddress; // 도로명 주소 변수
                            var extraRoadAddr = ''; // 참고 항목 변수

                            // 법정동명이 있을 경우 추가한다. (법정리는 제외) 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraRoadAddr += data.bname;
                            }

                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraRoadAddr += (
                                    extraRoadAddr !== ''
                                        ? ', ' + data.buildingName
                                        : data.buildingName
                                );
                            }

                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraRoadAddr !== '') {
                                extraRoadAddr = ' (' + extraRoadAddr + ')';
                            }

                            // 우편번호와 주소 정보를 해당 필드에 넣는다.
                            document
                                .getElementById('zipCode')
                                .value = data.zonecode;
                            document
                                .getElementById("roadNameAddress")
                                .value = roadAddr;
                            document
                                .getElementById("lotNumberAddress")
                                .value = data.jibunAddress;

                            // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                            if (roadAddr !== '') {
                                document
                                    .getElementById("extraAddress")
                                    .value = extraRoadAddr;
                            } else {
                                document
                                    .getElementById("extraAddress")
                                    .value = '';
                            }

                            /*var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    console.log(2)
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';
                    console.log(3)

                } else if(data.autoJibunAddress) {
                    console.log(4)
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }*/
                        }
                    })
                    .open();
            }
        </script>

    </body>

</html>