<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">
<head th:replace="~{admin/common/include :: head}"></head>
<body>
    <header th:replace="~{admin/common/include :: header_admin}"></header>
    <main>
        <form th:object="${userPasswordDto}" th:action="${requestURI}" method="post">
            <div>
                <label>
                    <span>비밀번호</span>
                    <input type="password" th:field="*{password}">
                    <div th:errors="*{password}"></div>
                </label>
            </div>
            <div>
                <label>
                    <span>비밀번호 확인</span>
                    <input type="password" th:field="*{passwordCheck}">
                </label>
            </div>
            <button type="submit">비밀번호 변경</button>
        </form>
    </main>
</body>
</html>