<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">

    <head th:replace="~{admin/common/head :: head}"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <textarea id="my-text-area"></textarea>
        <script>
            const easyMDE = new EasyMDE({element: document.getElementById('my-text-area')});
        </script>
        <script src="https://unpkg.com/easymde/dist/easymde.min.js" crossorigin="anonymous"></script>

        <!--<main id="wrapper">

            &lt;!&ndash; Sidebar &ndash;&gt;
            <ul th:replace="~{admin/common/left :: left}"></ul>
            &lt;!&ndash; End of Sidebar &ndash;&gt;

            &lt;!&ndash; Content Wrapper &ndash;&gt;
            <div id="content-wrapper" class="d-flex flex-column">

                &lt;!&ndash; Main Content &ndash;&gt;
                <div id="content">

                    &lt;!&ndash; Topbar &ndash;&gt;
                    <nav th:replace="~{admin/common/topbar :: topbar}"></nav>
                    &lt;!&ndash; End of Topbar &ndash;&gt;

                    &lt;!&ndash; Begin Page Content &ndash;&gt;
                    <div class="container-xl px-4 mt-4">
                        <form
                            th:object="${archiveCategoryCreateUpdateDto}"
                            th:action="${requestURI}"
                            method="post"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-8">
                                    &lt;!&ndash; Account details card&ndash;&gt;
                                    <div class="card mb-4">
                                        <div class="card-header">Archive Category Details</div>
                                        <div class="card-body">
                                            <div th:if="${formMode eq 'UPDATE'}">
                                                <input type="hidden" th:field="*{id}">
                                            </div>
                                            <div class="mb-3">
                                                <div th:if="${formMode eq 'INSERT'}">
                                                    <label class="small mb-1">카테고리 아이디 값</label>
                                                    <input
                                                            type="text"
                                                            th:field="*{categoryName}"
                                                            class="form-control"
                                                            placeholder="아카이브 카테고리 아이디 값을 입력해주세요. (반드시 영어)"/>
                                                    <div class="error_message" th:errors="*{categoryName}"></div>
                                                </div>
                                                <div th:if="${formMode eq 'UPDATE'}">
                                                    <label class="small mb-1">권한 아이디 값</label>
                                                    <input
                                                            type="hidden"
                                                            th:field="*{categoryName}">
                                                    <input
                                                            type="text"
                                                            disabled
                                                            th:field="*{categoryName}"
                                                            class="form-control"
                                                            placeholder="아카이브 카테고리 아이디 값을 입력해주세요. (반드시 영어)"/>
                                                    <div class="error_message" th:errors="*{categoryName}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1">아카이브 카테고리 이름</label>
                                                <input
                                                        type="text"
                                                        th:field="*{categoryKoreanName}"
                                                        class="form-control"
                                                        placeholder="아카이브 카테고리 이름을 입력해 주세요."/>
                                                <div class="error_message" th:errors="*{categoryKoreanName}"></div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                                &lt;!&ndash; Form Group (first name)&ndash;&gt;
                                                <div class="col-md-6">
                                                    <label class="small mb-1">관리자 form 스킨</label>
                                                    <input
                                                            th:field="*{adminFormSkin}"
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="기본: form.html"/>
                                                    <div class="error_message" th:errors="*{adminFormSkin}"></div>
                                                </div>
                                                &lt;!&ndash; Form Group (last name)&ndash;&gt;
                                                <div class="col-md-6">
                                                    <label class="small mb-1">관리자 list 스킨</label>
                                                    <input
                                                            th:field="*{adminListSkin}"
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="기본: list.html"/>
                                                    <div class="error_message" th:errors="*{adminListSkin}"></div>
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                                &lt;!&ndash; Form Group (first name)&ndash;&gt;
                                                <div class="col-md-6">
                                                    <label class="small mb-1">사용자 list 스킨</label>
                                                    <input
                                                            th:field="*{userListSkin}"
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="기본: list.html"/>
                                                    <div class="error_message" th:errors="*{userListSkin}"></div>
                                                </div>
                                                &lt;!&ndash; Form Group (last name)&ndash;&gt;
                                                <div class="col-md-6">
                                                    <label class="small mb-1">사용자 상세 화면 스킨</label>
                                                    <input
                                                            th:field="*{userDetailSkin}"
                                                            class="form-control"
                                                            type="text"
                                                            placeholder="기본: detail.html"/>
                                                    <div class="error_message" th:errors="*{userDetailSkin}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1">페이지 사이즈</label>
                                                <input
                                                        type="text"
                                                        th:field="*{pageSize}"
                                                        class="form-control"
                                                        placeholder="페이지 사이즈를 정수로 입력해주세요. (기본 10)"/>
                                                <div class="error_message" th:errors="*{pageSize}"></div>
                                            </div>
                                            <button class="btn btn-primary" th:if="${formMode eq 'INSERT'}" type="submit">등록</button>
                                            <button class="btn btn-primary" th:if="${formMode eq 'UPDATE'}" type="submit">수정</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    &lt;!&ndash; /.container-fluid &ndash;&gt;

                </div>
                &lt;!&ndash; End of Main Content &ndash;&gt;

                &lt;!&ndash; Footer &ndash;&gt;
                <footer th:replace="~{admin/common/footer :: footer}"></footer>
                &lt;!&ndash; End of Footer &ndash;&gt;

            </div>
            &lt;!&ndash; End of Content Wrapper &ndash;&gt;

        </main>-->
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="~{admin/common/include :: scroll_to_top_botton}"></a>

        <!-- Logout Modal-->
        <div th:replace="~{admin/common/include :: logout_modal}"></div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->

        <!-- Page level custom scripts -->

    </body>

</html>