<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <ul th:fragment="left" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/sogi/admin/main">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SOGI CMS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/sogi/admin/main">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>메인으로</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      회원 / 보안
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
         aria-expanded="true" aria-controls="collapseUser">
        <i class="fas fa-fw fa-cog"></i>
        <span>회원 관리</span>
      </a>
      <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">User Control:</h6>
          <a class="collapse-item" href="/sogi/admin/user/list">전체 회원 목록</a>
          <a class="collapse-item" href="/sogi/admin/user/admin/list">관리자 목록</a>
          <a class="collapse-item" href="/sogi/admin/user/nonAdmin/list">일반 회원 목록</a>
          <a class="collapse-item" href="/sogi/admin/user/new">회원 등록</a>
          <a class="collapse-item" href="/sogi/admin/user/inactive/list">휴면 회원 목록</a>
          <a class="collapse-item" href="/sogi/admin/user/deleted/list">탈퇴 회원 목록</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRole"
         aria-expanded="true" aria-controls="collapseRole">
        <i class="fas fa-fw fa-folder"></i>
        <span>권한 / 역할 관리</span>
      </a>
      <div id="collapseRole" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Authorization Control:</h6>
          <a class="collapse-item" href="/sogi/admin/authority/list">권한 목록</a>
          <a class="collapse-item" href="/sogi/admin/authority/new">권한 등록</a>
          <a class="collapse-item" href="/sogi/admin/role/list">역할 목록</a>
          <a class="collapse-item" href="/sogi/admin/role/new">역할 등록</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      콘텐츠
    </div>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArchiveList"
         aria-expanded="true" aria-controls="collapseArchiveList">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>아카이브 목록</span>
      </a>
      <div id="collapseArchiveList" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Archive List:</h6>
          <th:block th:each="archiveCategory : ${archiveCategories}">
            <a class="collapse-item" th:text="${archiveCategory.categoryKoreanName}" th:href="@{/sogi/admin/archive/{categoryName}/list(categoryName=${archiveCategory.categoryName})}"></a>
          </th:block>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArchive"
         aria-expanded="true" aria-controls="collapseArchive">
        <i class="fas fa-fw fa-folder"></i>
        <span>아카이브 관리</span>
      </a>
      <div id="collapseArchive" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Archive Category Control:</h6>
          <a class="collapse-item" href="/sogi/admin/archiveCategory/list">카테고리 목록</a>
          <a class="collapse-item" href="/sogi/admin/archiveCategory/new">카테고리 등록</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Charts -->
    <!--<li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>-->
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
      <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

  </ul>
</html>