<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">
<head th:replace="~{admin/common/head :: head}"></head>
<body>
    <header th:replace="~{admin/common/header :: header}"></header>
    <main>
        <section>

        </section>
        <section>
            <tr th:if="${paging.contents == null}">할로</tr>
            <div th:each="file : ${paging.contents}">
                할로 할로
            </div>
        </section>
        <section th:replace="~{admin/common/include :: page_button}"></section>
        <section>
            <button onclick="location.href='/sogi/admin/user/new'">회원등록</button>
        </section>
    </main>
</body>
</html>