<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{admin/common/head :: head}"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <main id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="~{admin/common/left :: left}"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="~{admin/common/topbar :: topbar}"></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-xl px-4 mt-4">
                        <form
                            th:object="${roleCreateUpdateDto}"
                            th:action="${requestURI}"
                            method="post"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-8">
                                    <!-- Account details card-->
                                    <div class="card mb-4">
                                        <div class="card-header">Role Details</div>
                                        <div class="card-body">
                                            <div th:if="${formMode eq 'UPDATE'}">
                                                <input type="hidden" th:field="*{id}">
                                            </div>
                                            <div class="mb-3">
                                                <div th:if="${formMode eq 'INSERT'}">
                                                    <label class="small mb-1">역할 아이디 값</label>
                                                    <input
                                                            type="text"
                                                            th:field="*{roleName}"
                                                            class="form-control"
                                                            placeholder="반드시 영어로 값을 입력해 주세요. 접두사 ROLE_을 생략하면 자동으로 값이 들어갑니다."/>
                                                    <div class="error_message" th:errors="*{roleName}"></div>
                                                </div>
                                                <div th:if="${formMode eq 'UPDATE'}">
                                                    <label class="small mb-1">역할 아이디 값</label>
                                                    <input
                                                            type="hidden"
                                                            th:field="*{roleName}">
                                                    <input
                                                            type="text"
                                                            disabled
                                                            th:field="*{roleName}"
                                                            class="form-control"
                                                            placeholder="반드시 영어로 값을 입력해 주세요. 접두사 ROLE_을 생략하면 자동으로 값이 들어갑니다."/>
                                                    <div class="error_message" th:errors="*{roleName}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1">역할 이름</label>
                                                <input
                                                        type="text"
                                                        th:field="*{koreanName}"
                                                        class="form-control"
                                                        placeholder="역할 이름을 입력해 주세요."/>
                                                <div class="error_message" th:errors="*{koreanName}"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1">역할 설명</label>
                                                <input
                                                        type="text"
                                                        th:field="*{description}"
                                                        class="form-control"
                                                        placeholder="역할 설명을 입력해 주세요."/>
                                                <div class="error_message" th:errors="*{description}"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1">권한 설정</label>
                                                <table class="table table-bordered">
                                                    <th>선택</th>
                                                    <th>권한 아이디 값</th>
                                                    <th>권한 이름</th>
                                                    <th>권한 허용 메소드</th>
                                                    <th>권한 값</th>
                                                    <th>우선순위</th>
                                                    <tr th:each="authority : ${authorities}">
                                                        <td><input type="checkbox" name="authorityNameList" th:value="${authority.authorityName}" th:checked="${#lists.contains(roleCreateUpdateDto.authorityNameList, authority.authorityName)}"></td>
                                                        <td th:text="${authority.authorityName}"></td>
                                                        <td th:text="${authority.authorityKoreanName}"></td>
                                                        <td th:text="${authority.httpMethod}"></td>
                                                        <td th:text="${authority.urlPath}"></td>
                                                        <td th:text="${authority.priority}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <button class="btn btn-primary" th:if="${formMode eq 'INSERT'}" type="submit">등록</button>
                                            <button class="btn btn-primary" th:if="${formMode eq 'UPDATE'}" type="submit">수정</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{admin/common/footer :: footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </main>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="~{admin/common/include :: scroll_to_top_botton}"></a>

        <!-- Logout Modal-->
        <div th:replace="~{admin/common/include :: logout_modal}"></div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->

        <!-- Page level custom scripts -->

    </body>

</html>